@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;800&display=swap');
body{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;    
   background-image: url("/DAY2/IMG/galaxia.webp");
   background-size: cover;
   background-repeat: no-repeat;
    background-size: 100%;
    
    font-family: 'Montserrat', sans-serif;
}
    .card{
        width: 55%;
        height: 60%;
        background: rgba(93, 79, 96, 0.05);
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 20px );
        -webkit-backdrop-filter: blur( 20px );
        border-radius: 20px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    
    }
    .front{
        display: flex;
        width: 100%;
        height: 100%;
    }
    
    .left{
        margin-left: 20px;
        width:30%;
        height: 100%;
        display: flex;
        justify-content: center;
    }
    .center{
        display: block;
        width: 50%;
        height: 100%;
    
    }
    .right{
        width: 20%;
        height: 100%;
        padding-right: 20px;
        margin-top: 4.5em;
    }
    h1{
        font-weight: 800;
        color: rgb(100, 219, 3);
        font-size: 28px;
        margin-bottom: 0px;
    
    }
    h2{
        font-weight: 400;
        color: #e1e1e1;
        font-size: 18px;
        margin-top: 0px; 
    }
    .data{
        font-weight: 800;
        color: rgb(100, 219, 3);
        font-size: 16px;
        margin-top: 0px; 
    }
    .datos{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        color: #e1e1e1;
        margin-top: 4px;
        margin-bottom: 4px;
        font-size: 14px;
    
    }
    .skills {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .box {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 25px;
        margin: 5px;
        padding: 7px 7px;
        font-size: 14px;
        text-decoration: none;
    }
    
    .html {
        background-color: orange;
        color: white;
    }
    
    .css {
        background-color: #0099cc; /* Azul */
        color: white;
    }
    
    .js {
        background-color: #ffcc00; /* Amarillo */
        color: black;
    }
    
    .php {
        background-color: #9900cc; /* Morado */
        color: white;
    }
    
    .java {
        background-color: #ff0000; /* Rojo */
        color: white;
    }
    .c{
        background-color: #0e2bce;
        color: white;
    }
    
    /* Agrega estilos para los íconos (Font Awesome) */
    .box i {
        margin-right: 5px;
        font-size: 20px;
    }
    .text{
        margin-left: 30px;
        margin-bottom: 15px;
    }
    .skills a{
        margin-right: 20px;
    }
    .skills a:hover{
        color: #201f1c;
    
    }

    img{
        border-radius: 50%;
        height: 200px;
        width: 200px;
        margin-right: 20px;
        margin-top: 25px;
    }
    .right{
        position:relative;
        display: flex;
        bottom: 20px;
        align-items: center;
        flex-direction: column;
    }
    .right .button{
        height: 30px;
        width: 30px;
        overflow: hidden;
        margin-bottom: 25px;
        padding-right: 2px;
        background-color: #0ece7e;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.2s ease-out;
    
    }
    .right .button:hover{
        width: 120px;
    }
    .right .button .icon{
        display: flex;
        height: 20px;
        width: 20px;
    }
    .right .button .icon i{
        font-size: 20px;
        line-height: 30px;
        color: #fff;
    }
    .right .button span{
        color: #fff;
        font-size: 15px;
        font-weight: 200;
        line-height: 30px;
        margin-left: 7px;
    }
    .right .button span a{
        color: #fff;
        text-decoration: none;
    }
    .right .button .icon:last-child{
        padding-left: 7px;
    }
    .right .button:last-child:hover{
        width: 105px;
    }